html {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    color: #333;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#C3FBF4 ;
}

#root {
    height: 100%;
    width: 100%;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDE166;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border-style: none;
    box-shadow: rgba(16,27,30,.15) 0px 1px 10px 2px;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border-style: none;
    box-shadow: rgba(16,27,30,.15) 0px 1px 10px 2px;
    border-radius: 20px;
    
}

.date {
    margin: 0px;
    font-weight: bold;
}

.wind-container {
    position: relative;
    text-align: center;

}

.wind {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}

.wind-speed {
    position: absolute;
    top: 37%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-weight: bold;
}

.temp-high {
    margin: 0px 10px 0px 10px;
    color: red;
}

.temp-low {
    margin: 0px 10px 0px 10px;
    color: blue;
}



.current-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

.current-location {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.current-img {
    height: 100px;
    width: auto;
}

.current-temp {
    color: red;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.current-temp-high {
    margin: 0px 15px 0px 15px;
}

.get-location {
    margin: 15px;
    font-size: 20px;
}


