html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-style: none;
    box-shadow: rgb(196, 196, 196) 0px 1px 10px 2px;
    
}

.temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temp-high {
    margin: 0px 15px 0px 15px;
}

.temp-low {
    margin: 0px 15px 0px 15px;
}