html {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    color: #333;
    height: 100vh;


}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#C3FBF4 ;
}

#root {
    height: 100%;
    width: 100%;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.current {
   
    
    margin: 20px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.current-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDE166;
    border-style: none;
    box-shadow: rgba(16,27,30,.15) 0px 1px 10px 2px;
    border-radius: 20px;
    min-width: 193px;
    min-height: 309px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border-style: none;
    box-shadow: rgba(16,27,30,.15) 0px 1px 10px 2px;
    border-radius: 20px;
    min-width: 120px;
    min-height: 203px;
    
    
}

.icon-img  {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.date {
    margin: 0px;
    font-weight: bold;
}

.wind-container {
    position: relative;
    text-align: center;

}

.wind {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}

.wind-speed {
    position: absolute;
    top: 37%;
    left: 49%;
    transform: translate(-50%, -50%);
}



.temp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-weight: bold;
}

.temp-high {
    margin: 0px 10px 0px 10px;
    color: red;
}

.temp-low {
    margin: 0px 10px 0px 10px;
    color: blue;
}



.current-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.current {
    
    
}

.current-location {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.current-img {
    height: 100px;
    width: auto;
    
}

.current-temp {
    color: red;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.current-temp-high {
    margin: 0px 15px 0px 15px;
}

.get-location {
    margin: 15px;
    font-size: 20px;
}

#hourly-wrapper{
    display: none;
    flex-direction: column;
}

.hourly-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15px auto; /* 15% from the top and centered */
    padding: 20px 100px 20px 100px;
    border: 1px solid #888;
    width: auto; /* Could be more or less, depending on screen size */
    overflow: auto;
    box-shadow: rgba(16,27,30,.40) 0px 1px 10px 2px;
    border-radius: 40px;
    
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -60px;
    
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modal-header {
    font-size: 24px;
    font-weight: bold;
  }

  #locationButton {
      background-color: transparent;
      border: none;
      border-radius: 100px;
      padding-top: 5px;
      margin: 10px;
  }

  #locationButton :hover {
      cursor: pointer;
  }

  #locationButton img {
      height: 30px;
      width: 30px;
  }

  

  .inputWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 5px;
      box-shadow: rgba(16,27,30,.20) 0px 1px 10px 2px;
      background-color: white;
      height: 2em;
      width: 100%;
      font-size: 20px;
      padding: 0.2em;
  }

  #cityInput {
      font-size: 20px;
      
      border: none;
      margin: 0px;
      background-color: white;
  }

  textarea:focus, input:focus, button:focus{
    outline: none;
}

  #searchButton{
      background-color: transparent;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      height: 20px;
      width: 20px;
      opacity: 0.5;
  }

 

